@{
    ViewBag.Title = "Movies List";
}

@model IEnumerable<Movie>

<div class="table">
    <table>
        <thead>
            <tr>
                <th>Category</th>
                <th>Title</th>
                <th>Year</th>
                <th>Director</th>
                <th>Rating</th>
                <th>Lent To</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            @*iterate through each model in the context database*@
            @foreach (var movie in Model)
            {
                <tr>
                    <td>@movie.Category</td>
                    <td>@movie.Title</td>
                    <td>@movie.Year</td>
                    <td>@movie.Director</td>
                    <td>@movie.Rating</td>
                    <td>@movie.LentTo</td>
                    <td>@movie.Notes</td>
                    <td><a asp-action="Update" asp-route-movieid="@movie.MovieId"><input type="button" class="btn btn-secondary" value="Update" /></a></td>
                    <td>
                        @*buttons for updating and deleting*@
                        <form asp-action="Delete" method="post">
                            <input type="hidden" name="movieid" value="@movie.MovieId" />
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

